@import 'tailwindcss';
@import './base.css';

#app {
}

@theme {
  --color-primary-001: #ffd05f;
  --color-primary-002: #ffc437;
  --color-primary-main-003: #fdb813;
  --color-primary-004: #f3b216;
  --color-primary-005: #e8ad22;
  --color-primary-006: #d6a32a;
  --color-primary-007: #c79b31;
  --color-primary-008: #b48e36;
  --color-primary-009: #a38338;
  --color-primary-010: #7e6937;
  --color-secondary-001: #63e0ff;
  --color-secondary-002: #39d8ff;
  --color-secondary-003: #02c6f6;
  --color-secondary-004: #02bae8;
  --color-secondary-main-005: #00a6cf;
  --color-secondary-006: #0e9cbf;
  --color-secondary-007: #188ba8;
  --color-secondary-008: #1e7e96;
  --color-secondary-009: #246e81;
  --color-secondary-010: #28606d;
  --color-tertiary-001: #7dffd4;
  --color-tertiary-002: #31ffbb;
  --color-tertiary-003: #08f5a7;
  --color-tertiary-004: #0edc98;
  --color-tertiary-005: #12c087;
  --color-tertiary-main-006: #18aa7a;
  --color-tertiary-007: #24946f;
  --color-tertiary-008: #2f8166;
  --color-tertiary-009: #35735e;
  --color-tertiary-010: #346454;
  --color-auxiliary-white-001: #ffffff;
  --color-auxiliary-002: #e3e3e3;
  --color-auxiliary-003: #c7c7c7;
  --color-auxiliary-004: #adadad;
  --color-auxiliary-005: #949494;
  --color-auxiliary-006: #797979;
  --color-auxiliary-007: #626161;
  --color-auxiliary-main-008: #404040;
  --color-auxiliary-009: #292929;
  --color-auxiliary-010: #141414;
  --color-input-common-background-001: #ffffff;
  --color-danger-main-001: #f27059;
  --color-danger-002: #e95439;
  --color-danger-003: #e95439;
  --color-danger-004: #cd5039;
  --color-danger-005: #d03216;
  --color-danger-006: #b22a12;
  --color-danger-007: #96220d;
  --color-danger-008: #762719;
  --color-danger-009: #672115;
  --color-danger-010: #4b1d15;
  --color-danger-011: #340f09;

  --radius-default: 10px;
}

.ubuntu-light {
  font-family: 'Ubuntu', serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: 'Ubuntu', serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: 'Ubuntu', serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: 'Ubuntu', serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: 'Ubuntu', serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: 'Ubuntu', serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: 'Ubuntu', serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: 'Ubuntu', serif;
  font-weight: 700;
  font-style: italic;
}
